[Unit]
Description=Simple systemd service for Hermes.

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/Ulixes
ExecStart=/usr/bin/python3 /home/ec2-user/Ulixes/Hermes.py

[Install]
WantedBy=multi-user.target